      <div class="footer">
        <div class="clearfix wd1200">
            <div class="copy_right">
                <p>粤ICP备16041273号 　广发证券资产管理(广东)有限公司版权所有　　Copyright © 2000-2017 All Rights Reserved</p>
            </div>
        </div>
    </div>
      
      
</body>
</html>