<%- include('header') %>
<script src="js/select_area.js"></script>

  <!--导航栏-->
  <nav>
    <div class="navbar">
      <div class="inner_bar">
        <a  href="/search">搜索资讯<i></i></a>
        <a  href="/upload">上传资讯<i></i></a>
        <a  class="curent" href="/search_reports">报告搜索<i></i></a>
      </div>
    </div>
  </nav>

  <div id="container">
    <!-- <h1 class="search-title">地级行政区报告搜索</h1>
    <br/>
    <form method="post" >
    <div>
      <span id="search_span">
          <input type="text" id="search_input"  name="search" placeholder="请输入想要搜索地级行政区和报告类型" autofocus="autofocus" >          
      </span>
      
      <span id="search_button_span">
        <input type="submit"  id="search_button" value="搜 索" >
      </span>
    </div>
    </form> -->
    
    <br/>
    <br/>
    <p>请选择地级行政区：</p>
    <select id="province" onchange="Get_Next_Place('province','Get_city')">
     <option id="Not_data1">省份</option>
     <option id="辽宁省" >辽宁省</option>
     <option id="河北省" >河北省</option>
     <option id="吉林省" >吉林省</option>
    </select>
    <select id="city" onchange="Get_Next_Place('city','Get_country')">
     <option id="Not_data2">城市</option>
    </select>
    <select id="report_type">
     <option id="Not_data3">报告类型</option>
    </select>
    <br/>

    <div id="show_reports">
    </div>
    
      </div>
    </div>
  </div>

  

<%- include('footer')%>