
<% hits.forEach(function(element){ %>
<ul style="text-align:left;padding-left:100px;">
<!-- <li><label>省份：</label><%= element._source.province%></li>
<li><label>城市：</label><%= element._source.city%></li> -->
<li><label>标题：</label><%= element._source.title%></li>
<!-- <li><label>报告类型：</label><%= element._source.report_type%></li> -->
</ul>
<br/>
<% }); %>