#container {
    background: #FFFFFF;
    color: #008fc7;
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
    font-weight: normal;
    padding-bottom:80px; 
    height: 800px;
  }

  .search-title {
    font-size: 300%;
    display: inline-block;
    padding:70px 0 50px 0 ;
  }

  #search_span{
    border:1px solid #b6b6b6;
    background: #ffffff;
    vertical-align: top;
    width: 539px;
    height: 34px;
    position:relative;
    display: inline-block;
    text-align: left;
    border-right-width: 0px;   
    border-top-color: rgb(184, 184, 184);
    border-right-color: transparent;
    border-bottom-color: rgb(204, 204, 204);
    border-left-color: rgb(184, 184, 184); 
  }

  #search_input,#result_search_input{
    width:525px;
    position: relative;
    height: 22px;
    font-size: 16px;
    font-style: normal;
    line-height: 22px;
    margin:6px 0  0 7px;
    padding: 0px;
    border: 0 ;
    outline: 0;
  }

  #search_button_span{
    width: auto;
    height: auto;
    /* border-bottom: 1px solid transparent; */
    display: inline-block;
    background-image: none;
    background-position: -120px -48px;
    z-index: 0;
    vertical-align: top;
    background-repeat: no-repeat;
    text-align: left;
    margin:0 0 0 -4px;
  }


  #search_button,#result_search_button{
    width:100px;
    height: 36px;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    background: #008fc7;
    outline: medium;
    border: 0;
    padding: 0;
  }
  #search_button:hover,#result_search_button:hover{
    background:#005299;
  }
  
  #advanced_search{
    color:#008fc7;
    font-weight: bold;
    font-size: 25px;
  }
  
  #advanced_search:hover {
    color: red;
  }

  #advanced_search_form{
    border: 2px solid #008fc7;
    width: 500px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    line-height: 1.5;
  }

  a.heat_title{
    font-size: 25px;
    font-weight:bold;
    color: #008fc7;
  }
  a.heat_title:hover{
    color: red;
  }


  a.heat{
    font-size: 20px;
    color: #008fc7;
  }
  a.heat:hover{
    color: red;
  }

  #result_count{
    width: 538px;
    margin:0 0 0 81px;
    height: 42px;
    line-height: 42px;
    font-size: 12px;
    color: #999999;
    display: block;
  }

  .require_notification{
    color: #d45252;
    margin:15px 0 0 80px ;
    display:inline;
    font-size: 14px;
    /* float: left; */
  }

  .upload_form{
    font-size: 18px;
  }

  .upload_form ul{
    width:1200px;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
  }

  .upload_form li{
    padding: 12px;
    border-bottom:1px solid #eee;
    position:relative;
  }

  .upload_form li:last-child{
        margin:0 0 30px 0;

  }

  .upload_form li:first-child{
    height:80px;
    border-bottom: 1px solid #777;
  }

  .upload_form h1{
    margin:20px 0 0 80px;;
    /* display: inline; */
  }

  .upload_form label{
    width:150px;
    margin-top:3px;
    display: inline-block;
    margin-left:80px;
    padding: 3px;
  }

  .upload_form input{
    height: 20px;
    width: 600px;
    padding: 5px 8px;


    -moz-transition: padding .25s;
    -webkit-transition: padding .25s;
    -o-transition: padding .25s;
    transition: padding .25s;
  }

  .upload_form textarea{
    padding: 8px;
    height: 300px;
    width: 800px;
  }

  .upload_form #upload_submit{
    margin-left:80px;
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
  }

  .upload_form #upload_submit:hover{
    opacity:.85;
    cursor: pointer;
  }

.upload_form #upload_submit:active{
  border: 1px solid #20911e;
  box-shadow: 0 0 10px 5px #356b0b inset;
  -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
  -moz-box-shadow: 0 0 10px 5px #356b0b inset;
  -ms-box-shadow: 0 0 10px 5px #356b0b inset;
  -o-box-shadow: 0 0 10px 5px #356b0b inset;
}

  .upload_form input, .upload_form textarea{
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
  }

  .upload_form input:focus, .upload_form textarea:focus{
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
  }

  .upload_form input:focus{
    padding-right: 200px;
  }

  .upload_form #upload_attachment{
    clear:both;
  }

  .news_display ul{
    width:1200px;
    list-style-type:none;
    list-style-position:outside;
    margin: 0px;
    padding:0px;
  }

  .news_display li{
    padding: 12px;
    border-bottom:1px solid #eee;
    position:relative;
    margin: 0 80px 0 80px;
    font-size:16px;
  }

  .news_display li:first-child{
    border-top: 1px solid #eee;
  }

  .news_display label{
    font-weight: bold;
    font-size: 18px;
    padding: 3px;
    width: 120px;
    margin-top: 3px;
    display: inline-block;
  }